name: Auto Deploy to Oracle VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repos
        uses: actions/checkout@v4
     
      - name: Check Secrets
        run: |
            echo "SERVER_HOST=${{ secrets.SERVER_HOST }}"
            echo "SERVER_USER=${{ secrets.SERVER_USER }}"
            echo "SERVER_PATH=${{ secrets.SERVER_PATH }}"
      - name: Debug env
        run: env



      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H ${{ secrets.SERVER_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy to server
        run: |
          ssh -i ~/.ssh/id_ed25519 ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} << 'EOF'
            cd ${{ secrets.SERVER_PATH }}
            git pull origin main
          EOF
